.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.m-0 {
    margin: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.pt-80 {
    padding-top: 80px;
}

.mt-80 {
    margin-top: 80px;
}

.mr-0 {
    margin-right: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.py-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.w-100 {
    width: 100% !important;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex !important;
}

.text-white {
    color: #fff !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.border-0 {
    border: none !important;
}

.outline-0 {
    outline: none !important;
}

.btn-primery {
    border: none;
    outline: none;
    padding: 11px 15px;
    color: white;
    background-color: #93A5FF;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.order-1 {
    order: 1;
}

.order-0 {
    order: 0;
}

.text-align-center {
    text-align: center;
}

.flex-wrapper {
    flex-wrap: wrap;
}

@media only screen and (min-width: 576px) {
    .d-sm-none {
        display: none !important;
    }
    .d-sm-block {
        display: block !important;
    }
    .d-sm-flex {
        display: flex !important;
    }
}

@media only screen and (min-width: 768px) {
    .d-md-none {
        display: none !important;
    }
    .d-md-block {
        display: block !important;
    }
    .d-md-flex {
        display: flex !important;
    }
}

@media only screen and (min-width: 992px) {
    .d-lg-none {
        display: none !important;
    }
    .d-lg-block {
        display: block !important;
    }
    .d-lg-flex {
        display: flex !important;
    }
}