@font-face {
    font-family: 'Nunito Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Nunito-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito italic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Nunito-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito Black';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Nunito-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Nunito-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}